@import 'variables';
@import 'mixins';

// include all needed keyframes
@include notification-keyframes('top');
@include notification-keyframes('bottom');
@include notification-keyframes('left');
@include notification-keyframes('right');
@include notification-keyframes('top', 0);

// rotating animation for loading status
@keyframes:local(rotating) {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
  }
}

// NotificationSystem component
:local .notifications-system {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
}

// NotificationContainer component
:local .notifications-container {
  position: fixed;
  z-index: 99999;
}

// for small to large screens, container position and notification animation is
// different depending on container position
:local .notifications-container {
  // change style of buttons depending of the notification position
  &--tc,
  &--tr,
  &--tl,
  &--bc,
  &--br,
  &--bl {
    width: $notification-max-width;

    .notification {
      &--buttons-1 .notification-button {
        height: 100%;
      }
      &--buttons-2 .notification-button {
        height: 50%;
      }
      &-buttons {
        flex-direction: column;

        .notification-button {
          display: block;
          width: 100%;

          &:nth-child(2) {
            border-top: 1px solid rgba(0, 0, 0, 0.09);
          }
        }
      }
    }
  }
  &--b,
  &--t {
    .notification {
      &-buttons,
      &--buttons-1 {
        .notification-buttons {
          flex-direction: row;
        }
      }
    }
  }

  // animations depending of the notification position
  &--t {
    width: calc(100% - 40px);
    top: 20px;
    left: 20px;
    @include notification-animation('top');
  }
  &--tc {
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    @include notification-animation('top');
  }
  &--tr {
    top: 20px;
    right: 20px;
    @include notification-animation('right');
  }
  &--tl {
    top: 20px;
    left: 20px;
    @include notification-animation('left');
  }
  &--b {
    width: calc(100% - 40px);
    bottom: 0;
    left: 20px;
    @include notification-animation('bottom');
  }
  &--bc {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    @include notification-animation('bottom');
  }
  &--br {
    bottom: 0;
    right: 20px;
    @include notification-animation('right');
  }
  &--bl {
    bottom: 0;
    left: 20px;
    @include notification-animation('left');
  }
}

// put all notifications at the top of the screen
@media (max-width: #{$screen-xs-max}) {
  :local .notifications-container {
    z-index: 9999;
    &--t {
      width: 100%;
      top: 50px;
      left: 0;

      @include notification-animation('top', 0);

      .notification-wrapper {
        margin: 0;
      }
    }
  }
}

// Notification component
:local .notification {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  min-height: 40px;
  border: none;
  @include box-shadow(0 1px 3px -1px rgba(0, 0, 0, 0.3));
  z-index: 999;

  &-wrapper {
    display: block;
    width: 100%;
    height: 100%;
    margin-bottom: $window-padding;
  }
  &-image-container {
    box-sizing: border-box;
    padding: 10px 0 10px 15px;
  }
  &-image {
    display: inline-block;
    border-radius: 40px;
    width: 40px;
    height: 40px;
    background-size: cover;
  }
  &-icon {
    box-sizing: border-box;
    margin: 10px 0 10px 15px;
    // override font-size of `fa` class
    font-size: 20px !important;
    align-self: flex-start;
  }
  &-meta {
    vertical-align: top;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 20px;
  }
  &-close-button-container {
    padding: 10px 15px;
    box-sizing: border-box;

  }
  &-close-button {
    // override font-size of `fa` class
    font-size: 14px !important;
    color: #524c4c;
    cursor: pointer;

    &:before {
      content: $notification-close-button;
    }
    &:hover {
      color: lighten(#524c4c, 10%);
    }
  }
  // global style for buttons
  &-buttons {
    display: flex;
    box-sizing: border-box;
    vertical-align: top;

    .notification-button {
      min-height: 40px;
      box-sizing: border-box;
      padding: 0;
      background: none;
      border: none;
      // Otherwise Opera browser add a small radius on these buttons by default
      border-radius: 0;
      border-left: 1px solid rgba(0, 0, 0, 0.09);
      outline: none;
      text-align: center;
      color: #524c4c;
      cursor: pointer;

      &-text {
        display: block;
        height: 25px;
        padding: 0 15px;
        min-width: $notification-button-min-width;
        max-width: $notification-button-max-width;
        width: auto;
        white-space: nowrap;
        overflow: hidden;
        margin: 0 auto;
        text-overflow: ellipsis;
        text-align: center;
        font-size: 14px;
        line-height: 25px;
      }
      &:hover {
        color: #349ef3;
      }
      &:active {
        color: darken(#349ef3, 10%);
      }
    }
  }
  &-title {
    margin: 0 0 10px;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.428571429;
  }
  &-message {
    margin: 0;
  }
  &--dismissible {
    cursor: pointer;
  }
  // color variants
  &--default {
    @include notification-variant($notification-default-bg, $notification-default-border, '');
  }
  &--success {
    @include notification-variant($notification-success-bg, $notification-success-border, $notification-success-icon);
  }
  &--info {
    @include notification-variant($notification-info-bg, $notification-info-border, $notification-info-icon);
  }
  &--warning {
    @include notification-variant($notification-warning-bg, $notification-warning-border, $notification-warning-icon);
  }
  &--error {
    @include notification-variant($notification-error-bg, $notification-error-border, $notification-error-icon);
  }
  &--loading {
    // infinite rotating animation
    .notification-icon {
      -webkit-animation: rotating 2s infinite linear;
      animation: rotating 2s infinite linear;
    }
    @include notification-variant($notification-loading-bg, $notification-loading-border, $notification-loading-icon);
  }
}
